@import "mixins";

body {
    .content {
        padding: 56px 100px 128px;
    }

    .order_card {
        width: 340px;
        height: 380px;
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 16px 18px rgba(0, 0, 0, 0.12);
        border-radius: 18px;
        padding: 20px 20px;
        .title {
            font-weight: 600;
            font-size: 15px;
            line-height: 24px;
            margin: 0;
            color: #272744;
        }
        .price_block {
            height: 129px;
            background: #F2EEEE;
            border-radius: 16px;
            padding: 9px 44px;
            margin-top: 34px;
            div {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 9px;
                p {
                    margin: 0;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 20px;

                    color: #272744;
                }
                .total {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 29px;
                    text-transform: capitalize;

                    color: #272744;
                }
            }
        }
        .checkbox_block {
            display: flex;
            justify-content: center;
            padding-top: 32px;
            span {
                &:nth-child(2) {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;

                    color: #272744;
                }
            }
        }
        .btn {
            width: 270px;
            height: 54px;
            border-radius: 32px;
            font-weight: 500;
            font-size: 13px;
            line-height: 17px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: auto;
        }
    }
    .search_block {
        border-radius: 23px;
        width: 690px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        color: #7C7C9E;
        align-items: center;
        margin-left: 0;
        padding-right: 15px;
        padding-left: 40px;
    }
    .bestDeals_item_img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 400px;
        overflow: hidden;
        border-radius: 15px;
        .img {
            width: 400px;
            height: 430px;
            object-fit: cover;
        }
    }
    .carousel-top {
        &:last-child {
            margin-right: 0;
        }
        margin-right: 20px;
    }
    .bestDeals_image_block {
        .bestDeals_item_info {
            width: 340px;
            bottom: 18px;
            right: 14px;

            .bestDeals_item_info_btns_block {
                .price_it_btn_in_home, .buy_it_btn_in_home {
                    width: 110px;
                }
            }
        }
    }
    .single_prod_info_container {
        margin: auto;
    }
    .notifications_block {
        width: 550px;
        .notifications_header {
            p {
                font-size: 28px;
            }
        }
    }
}

